.admin--home {
	margin: 50px 0;
	.login {
		text-align: center;
	}
	button {
		border-radius: 0;
		background-color: #000;
		color: #fff;
		font-size: 14px;
		&:hover {
			background-color: #fff;
			color: #000;
			border: 1px solid #000;
		}
	}
}
.admin--header {
	margin-bottom: 50px;
}
.admin--trails {
	display: grid;
	grid-gap: 25px;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
.trail-box {
	border: 2px solid #000;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	input[type="text"], select {
		width: 50%;
		padding: 10px;
		line-height: 1;
		font-size: 1.2rem;
		border: 0;
		border-bottom: 1px solid #000;
		border-right: 1px solid #000;
		appearance: none;
		border-radius: 0;
		background: #fff;
		margin: 0;
		&:focus {
			background: #fef2de
		}
		&:hover {
			border-color: inherit;
		}
		&[disabled] {
			cursor: no-drop;
			background-color: #e6e6e6;
		}
	}
	input[name="location"], input[name="address"] {
		width: 100%;
	}
	input[name="permalink"],
	input[name="location"],
	input[name="address"],
	select[name="dogs"], {
		border-right: none;
	}
	input[name="miles"] {
		border-bottom: none;
	}
	button {
		width: 100%;
		border-radius: 0;
		background-color: #000;
		color: #fff;
		padding: 0.25em; 
		font-size: 14px;
		border-top: solid 1px #000;
		&:hover {
			background-color: #fff;
			color: #000;
			border: none;
			border-top: solid 1px #000;
		}
	}
}
